<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387943665851-pf6nre6hehl3sg9oc1b4pnq6rin2ppnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387943665851-pf6nre6hehl3sg9oc1b4pnq6rin2ppnr</string>
	<key>API_KEY</key>
	<string>AIzaSyDvWU5Jiu4nuSiFaG0VvTsHG8A-KQ7-uLA</string>
	<key>GCM_SENDER_ID</key>
	<string>387943665851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.bmwparts</string>
	<key>PROJECT_ID</key>
	<string>bmw-parts-92094</string>
	<key>STORAGE_BUCKET</key>
	<string>bmw-parts-92094.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387943665851:ios:0f2e934d8e8de2f8</string>
	<key>DATABASE_URL</key>
	<string>https://bmw-parts-92094.firebaseio.com</string>
</dict>
</plist>